<!DOCTYPE html>
<html lang="en">

<head>
    <title>List add</title>
</head>

<body>
    <form action="/add" method="post">
        <p>
            <label for="enterText">Enter Text</label>
            <input tabindex="1" id="enterText" name="enterText" type="text">
            <input type="submit" value="Submit">
        </p>
    </form>
</body>

</html>