<!DOCTYPE html>
<html lang="en">

<head>
    <title>List application</title>
</head>

<body>
    <h1>My list of texts</h1>
    <ul>
        <%for(let item of list){%>
            <li>
                <%=item%>
            </li>
            <%}%>
    </ul>
    <p><a href="add">Add</a></p>
</body>

</html>