body{
    color:#404040;
    font-size: 11pt;
    font-family:Georgia, Garamond, 'Times New Roman', Times, serif
}

.heading{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1.heading{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

h2.heading{
    font-size: 18pt;
    font-weight: bold;
}

a{
    color:#A4A400;
}

.line-through{
    text-decoration: line-through;
}

.line-height-small{
    line-height:1.1;
}