body{
    background-image: url("../w1d2recipe/img/silverware.jpg");
    color:#404040;
    font-size: 11pt;
    font-family:Georgia, Garamond, 'Times New Roman', Times, serif
}

.heading{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

h1.heading{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

h2.heading{
    font-size: 18pt;
    font-weight: bold;
}

a{
    color:#A4A400;
}

.line-through{
    text-decoration: line-through;
}

.line-height-small{
    line-height:0.1;
}

.major-step,.emphasis{
    font-weight: bold;
}



.comment{
    background-color: #FFFFA8;
    font-style: italic;
    margin-left: 50px;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }